* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-content: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-block {
    text-align: justify;
}